/*

Theme Name: Twenty Twenty-Five Child
Template: twentytwentyfive
Version: 1.0
*/

/* --Theme colours-- */

:root {
  --primary: #4caf50;
  --secondary: #2c3e50;
  --accent: #f5a623;
  /* --background: #fafafa; */
  --text: #333333;
  --wp--preset--spacing--60: 0;
  margin-block-start: 0;
  margin-block-end: 60;
}

/* --remove top spacing on homepage only-- */
.home main.wp-block-group {
  margin-top: 0 !important;
}

.home main.wp-block-group > .wp-block-group {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.home .is-layout-constrained > * {
  margin-block-start: 0 !important;
}

/* --home page-- */

.home .wp-block-post-title {
  display: none;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px 0;
}

.hero-content .wp-block-button__link:hover {
  background-color: #4caf50;
  transition: 0.2s ease-in-out;
  color: #2c3e50;
}

.our-mission {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 50px 0;
}

.our-mission .wp-block-heading {
  text-align: start;
  width: 100%;
}

/* --contact page-- */

.page-id-37 .wp-block-post-title {
  text-align: center; /* this is the contact us title */
}

.page-contact-us {
  display: flex;
  flex-direction: column;
}

.page-contact-us .wp-block-post-title {
  text-align: center;
  border: 1px solid red;
}

.page-contact-us strong {
  font-style: italic;
  font-weight: 500;
}

.wpcf7-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1px;
  box-sizing: border-box;
}

.wpcf7-text,
.wpcf7-textarea {
  box-sizing: border-box;
  padding: 10px;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  font-size: 1.125rem;
}

.wpcf7-submit {
  border-radius: 50px;
  padding: 10px;
  font-size: larger;
}

.wpcf7-submit:hover {
  cursor: pointer;
}
