/*
 Theme Name: Astra Child
 Template: astra
 Description: A child theme for Astra
 Author: Fred
 Version: 1.0
*/

:root {
  --primary: #4caf50;
  --secondary: #2c3e50;
  --accent: #f5a623;
  --text: #333333;
  --wp--preset--spacing--60: 0;
  margin-block-start: 0;
  margin-block-end: 60;
}

:root :where(.is-layout-constrained) > * {
  margin-block-start: 5px;
}

/* home page styling */

.home .entry-header {
  display: none;
}

.heading-and-motto {
  display: flex;
  flex-direction: column;
  gap: 1;
  align-items: center;
  justify-content: center;
}

.home .wp-block-heading {
  font-size: 2.5rem;
}

.home .wp-block-cover__inner-container .hero-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
  transition: 0.2s ease-in-out;
  transform: translateY(-3px);
}

@media screen and (min-width: 425px) {
  .home .wp-block-heading {
    font-size: 2rem;
    white-space: nowrap;
  }
}
