/*
 Theme Name: Astra Child
 Template: astra
 Description: A child theme for Astra
 Author: Fred
 Version: 1.0
*/

:root {
  --primary: #4caf50;
  --secondary: #2c3e50;
  --accent: #f5a623;
  --text: #333333;
  --wp--preset--spacing--60: 0;
}

:root :where(.is-layout-constrained) > * {
  margin-block-start: 5px;
}

/* ===== home page styling ===== */

.home .entry-header {
  display: none;
}

.heading-and-motto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.home .wp-block-heading {
  font-size: 2.5rem;
}

.home .wp-block-cover__inner-container .hero-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
  transition: 0.2s ease-in-out;
  transform: translateY(-3px);
}

@media screen and (min-width: 425px) {
  .home .wp-block-heading {
    font-size: 4rem;
  }
}

/* ===== archive pet grid styling ===== */

.archive-pets-page {
  margin: 10px 0;
  padding: 10px 0;
}

.archive-pets-page h1 {
  font-size: 2.5rem;
  padding: 10px 0;
}

.archive-pets-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
  gap: 15px;
}

.pet-card {
  display: flex;
  background-color: #ffffff;
  border-radius: 3px;
  flex-direction: column;
  padding: 15px;
}

.pet-card:hover {
  background-color: #f8f8f8;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.pet-card-thumbnail img {
  border-radius: 5px;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.pet-details {
  padding: 10px 0;
}

.pet-card-excerpt {
  padding: 10px 0;
  margin-bottom: 0;
}

.pet-details ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 5px;
  gap: 5px;
}

.pet-details ul > li {
  list-style: none;
}

.pet-card-button a {
  color: white;
}

@media screen and (max-width: 768px) {
  .archive-pets-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .archive-pets-grid {
    grid-template-columns: 1fr;
  }
}

/* ===== archive pet single post ===== */

.single-pet-post {
  margin: 5rem 0;
}

.pet-details {
  display: flex;
  gap: 2rem;
}

.adoption-fee {
  position: relative;
  display: inline-block;
  cursor: help;
}

.adoption-fee .tooltip {
  visibility: hidden;
  opacity: 0;
  width: 300px;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 100;
  bottom: 125%;
  left: 10%;
  transition: opacity 0.3s;
  font-size: 0.9rem;
}

.adoption-fee .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333333 transparent transparent transparent;
}

.adoption-fee:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.adoption-fee {
  border-bottom: 1px dotted #333; /* subtle dotted underline */
}
